---
import About from "@/components/About.astro";
import Contact from "@/components/Contact.astro";
import Projects from "@/components/Projects.astro";
import Skills from "@/components/Skills.astro";
import SocialIcons from "@/components/SocialIcons.astro";
import Chevron from "@/assets/Icons/Chevron.svg";
import ThemeToggle from "@/components/ThemeToggle.astro";
import LanguageSelector from "@/components/LanguageSelector.astro";
import { useTranslations } from "@/i18n/utils";

const { lang } = Astro.props;
const t = useTranslations(lang);
---

<main
    id="home"
    class="scroll-mt-32 flex-1 justify-center flex flex-col w-full relative gap-5"
>
    <!-- Language Selector & Theme Toggle (Top Right) -->
    <div class="absolute xl:top-7 top-30 right-5 flex z-20 items-center gap-2">
        <ThemeToggle />
        <LanguageSelector lang={lang} />
    </div>

    {/*Presentacion imagen mas breve texto */}
    <div
        class="flex w-full min-h-dvh items-center md:justify-center justify-start md:flex-row flex-col md:gap-5 relative pt-20 md:pt-0"
    >
        <div class="flex relative w-full max-w-[800px] aspect-square">
            {/* Borde con m치scara */}
            <div
                class="absolute inset-0 border-20 border-primary-950/50
        bg-primary-950/50
        mask-[url('/maskProfile.svg')] mask-size-contain mask-no-repeat mask-position-center"
            >
            </div>

            {/* Imagen interior con m치scara */}
            <div
                class="absolute inset-0 top-3 left-3
        bg-[url('/Profile.webp')] bg-cover
        mask-[url('/maskProfile.svg')] mask-size-contain mask-no-repeat mask-position-center"
            >
            </div>
        </div>

        {/*Texto de presentacion */}
        <div
            class="flex flex-col md:gap-5 gap-3 md:items-start items-center md:-ml-20 ml-0"
        >
            <h1
                class="flex md:text-start text-center items-start text-primary-700 font-bold text-[clamp(2.5rem,3vw,9rem)] text whitespace-normal"
            >
                {t("hero.greeting")}
            </h1>
            <h1
                class="flex md:text-start text-center items-start text-primary-700 font-bold text-[clamp(3rem,3vw,9rem)] text whitespace-normal"
            >
                {t("hero.name")}
            </h1>
            <h3
                class="flex text-start items-start text-primary-600/90 font-bold text-[clamp(1.7rem,0.2vw,9rem)] split whitespace-normal"
            >
                {t("hero.role")}
            </h3>
            <SocialIcons />
        </div>
        {/* Display del ver mas */}
        <a
            id="scroll-chevron"
            href="#about"
            title="Ver m치s"
            aria-label="Ver m치s"
            class="absolute bottom-10 left-0 right-0 mx-auto flex w-24 h-24 justify-center z-20 animate-header-bouncing text-primary-700 cursor-pointer"
        >
            <Chevron class="w-full h-full" />
        </a>
    </div>

    <script>
        import { gsap } from "gsap";
        import { ScrollTrigger } from "gsap/ScrollTrigger";

        gsap.registerPlugin(ScrollTrigger);

        const chevron = document.getElementById("scroll-chevron");

        if (chevron) {
            gsap.to(chevron, {
                scrollTrigger: {
                    trigger: "body",
                    start: "top top",
                    end: "500px top",
                    scrub: 1,
                },
                opacity: 0,
            });
        }
    </script>

    {/*About */}
    <div class="flex flex-col w-full h-full justify-center select-none">
        <About lang={lang} />
    </div>
    {/*Proyectos */}
    <div class="flex flex-col w-full h-full justify-center select-none">
        <Projects lang={lang} />
    </div>
    {/*Habilidades */}
    <div class="flex flex-col w-full h-full justify-center select-none">
        <Skills lang={lang} />
    </div>
    {/*Contact */}
    <div class="flex flex-col w-full h-full justify-center select-none">
        <Contact lang={lang} />
    </div>
</main>
