---
import Project1 from "./Projects/Project1.astro";
import Project2 from "./Projects/Project2.astro";
import Project3 from "./Projects/Project3.astro";
import Project4 from "./Projects/Project4.astro";
import Project5 from "./Projects/Project5.astro";
import Project6 from "./Projects/Project6.astro";
import Titles from "../common/Titles.astro";

// Estilos base para las tarjetas
const cardClass =
    "relative flex flex-col justify-between overflow-hidden rounded-3xl p-6 " +
    "shadow-lg shadow-primary-300/50" +
    "bg-gradient-to-b from-white/5 to-white/0 " +
    "backdrop-blur-xl backdrop-saturate-150 " +
    "transition-all duration-300 ease-out " +
    "group hover:border-primary-100/50 hover:shadow-lg hover:shadow-primary-500/20";
---

<section id="projects" class="w-full max-w-7xl mx-auto px-4 py-20">
    <Titles title="Proyectos" idLink="projects" />

    <div
        id="bento-grid"
        class="grid grid-cols-1 md:grid-cols-3 gap-4 md:auto-rows-[300px]"
    >
        <Project1 cardClass={cardClass} />
        <Project2 cardClass={cardClass} />
        <Project3 cardClass={cardClass} />
        <Project4 cardClass={cardClass} />
        <Project5 cardClass={cardClass} />
        {/* <Project6 cardClass={cardClass} /> */}
    </div>
</section>


